<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static "app/index.css" %}">

  </head>
  <body style="background-image: url({% static "images/laptop.jpg" %});">

    <div class="container">
      <div class="jumbotron">
        <span class="amigo">Welcome Amigo!</span> <br> For Course Registration Click The <b>Button</b> Below
      </div>
      <hr color="yellow">
    </div>
    <a href="{% url "app:register" %}"> <button class="btn btn-outline-primary btn-lg " type="button" name="Register">Register Now</button> </a>
  </body>
</html>
